*
{
    margin:0;
    padding: 0;

}
body
{
    font-family: sans-serif;

}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

section{
    height: 200px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
  }
 
  #headline{
      color:rgb(102, 255, 0);
    font-weight: bold;

  }