*
{
    margin: 0;
    padding: 0;
}
body{

font-family: sans-serif;
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-brand img{
    height: 100px;
    width: 180px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 700;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}

/*------banner section-----*/

#banner{
    background-image: linear-gradient(to right, #baa5bd , #ac0dfc);
    color: rgb(58, 4, 34);
    padding-top: 4%;
    font-size: 20px;
}
.promo-title{
    font-size: 50px;
    font-weight: 600;
    margin-top: 100px;
    color: black;
}
.play-btn{
   width: 60px; 
   margin: 20px;
}
#banner a{
    color: rgb(219, 214, 228);
    text-decoration: none;
}
.bottom-img{
    width: 100%;
    
}

#services{
    padding: 80px 0;
}
.service-img{
    width: 220px;
    margin-top: 20px;
}
.services{
    padding: 20px;
}
.services h4{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
